<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/admin/plugin/elfinder/css/smoothness-1.8.23/jquery-ui-1.8.23.custom.css")" />
@{
    Layout = null;
}

<div id="elfinder">

</div>


<script type="text/javascript" src="@Url.Content("~/Content/admin/plugin/elfinder/js/jquery-1.7.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/admin/plugin/elfinder/js/jquery-ui-1.8.11.min.js")"></script>
<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/admin/plugin/elfinder/css/elfinder.min.css")" />
<script type="text/javascript" src="@Url.Content("~/Content/admin/plugin/elfinder/js/elfinder.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/admin/plugin/elfinder/js/i18n/elfinder.ru.js")"></script>
<script type="text/javascript">

    function getUrlParam(paramName) {
        var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i');
        var match = window.location.search.match(reParam);
        return (match && match.length > 1) ? match[1] : '';
    }

    $(function () {
        var funcNum = getUrlParam('CKEditorFuncNum');
        var myCommands = elFinder.prototype._options.commands;
        var disabled = ['extract', 'archive', 'help', 'select'];
        $.each(disabled, function (i, cmd) {
            (idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx, 1);
        });
        var selectedFile = null;
        var options = {
            url: '@Url.Action("LoadFile", "File")',
            commands: myCommands,
            lang: 'en',
            uiOptions: {
                toolbar: [
                    ['back', 'forward'],
                    ['reload'],
                    ['home', 'up'],
                    ['mkdir', 'mkfile', 'upload'],
                    ['open', 'download'],
                    ['info'],
                    ['quicklook'],
                    ['copy', 'cut', 'paste'],
                    ['rm'],
                    ['duplicate', 'rename', 'edit', 'resize'],
                    ['view', 'sort']
                ]
            },
            getFileCallback: function (file) {
                var url = file.url;
                if (url.slice(0, options.url.length) == options.url)
                    url = '/' + url;
                window.opener.CKEDITOR.tools.callFunction(funcNum, file.url);
                window.close();
            },
            handlers: {
                select: function (event, elfinderInstance) {

                    if (event.data.selected.length == 1) {
                        var item = $('#' + event.data.selected[0]);
                        if (!item.hasClass('directory')) {
                            selectedFile = event.data.selected[0];
                            $('#elfinder-selectFile').show();
                            return;
                        }
                    }
                    else if (event.data.selected.length >= 1) {
                        var items = $('#' + event.data.selected);
                        if (!items.hasClass('directory')) {
                            selectedFile = event.data.selected;
                            $('#elfinder-selectFile').show();
                            return;
                        }
                    }
                    $('#elfinder-selectFile').hide();
                    selectedFile = null;
                }
            }
        };
        $('#elfinder').elfinder(options).elfinder('instance');


        //Add more button for add multi picture
        //$('.elfinder-toolbar:first').append('<div class="ui-widget-content ui-corner-all elfinder-buttonset" id="elfinder-selectFile" style="display:none; float:right;">' +
        //     '<div class="ui-state-default elfinder-button" title="Select" style="width: 100px;text-align: center;font-size: 15px;">Lấy hình</div>');

        $('#elfinder-selectFile').click(function () {
            if (selectedFile != null)
                var postData = { values: selectedFile };
            $.ajax({
                type: "POST",
                url: "selectFile",
                data: postData,
                success: function (data) {
                    //alert(data);
                    window.opener.document.getElementById("BlogImage").value = data.split(";")[0];
                    window.close();
                    
                },
                dataType: "json",
                traditional: true
            });

        });
    });
</script>
